.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right,  $color-light-green, $color-dark-green );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    

    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.05);
        transition:  .2s; 
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tetiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph{
    font-size: 1.6rem;

    &:not(:last-child){
        margin-bottom:3rem;
        }
}