.navigation{

      &_checkbox{

      }
      
      &_button{
            
      }
      
      &_background{
          height: 6rem;
          width: 6rem;
          border-radius: 50%;
          background-color: $color-black;  
      }
      
      &_nav{
            
      }
      
      &_list{
            
      }
      
      &_item{
            
      }

      &_link{
            
      }
}